.quantity-field .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-lkel9z-MuiInputBase-root-MuiOutlinedInput-root{
    height: 22px;
    width: 62px;
    border-radius: 40px;
    margin-top: 11px;
    border-radius: 54xp;
        }
